.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.about-photo {
  width: 40% !important;
  max-width: 600px;   
  border-radius: 12px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.gallery img {
  width: 45%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}
